body {
    background-color: #000000e2;

}

h1 {
    color: rgba(255, 255, 255, 0.867);
    border: 1px blue solid;
    display: flex;
    justify-content: center;
}

#formulaire {


    display: flex;
    width: auto;
    justify-content: space-between;
}

section>form {
    border: 1px blue solid;
    display: flex;
    flex-direction: column;

    width: 10px;
}

#ligne1 {
    color: rgba(255, 255, 255, 0.867);
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    margin: 30px;
}

#ligne2 {
    color: rgba(255, 255, 255, 0.867);
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    margin: 30px;
}

#ligne3 {

    color: rgba(255, 255, 255, 0.867);
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    margin: 30px;
}

#ligne4 {
    color: rgba(255, 255, 255, 0.867);
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    margin: 30px;
}

#ligne5 {
    display: none;
    color: rgba(255, 255, 255, 0.867);
    flex-wrap: nowrap;
    align-items: stretch;
    margin: 30px;
}

#ligne6 {
    display: none;
    color: rgba(255, 255, 255, 0.867);
    flex-wrap: nowrap;
    align-items: stretch;
    margin: 30px;
}


label {
    color: rgba(255, 255, 255, 0.867);
    font-size: 18pt;
    width: 350px;

}

input {
    color: black;
    width: 900px;
    padding: 16px;
}

.myButton {
    box-shadow: inset 0px 39px 0px -24px #e67a73;
    background-color: #e4685d;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
    width: 120px;
    margin: 70px 10px auto 1100px
}

.myButton:hover {
    background-color: #eb675e;
}

.myButton:active {
    position: relative;
    top: 1px;
}

#back {
    display: none;
    box-shadow: inset 0px 39px 0px -24px #e67a73;
    background-color: #e4685d;
    border-radius: 4px;
    border: 1px solid #ffffff;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
    width: 120px;
    margin: 70px 10px auto 1100px
}

#back :hover {
    background-color: #eb675e;
}

#back :active {
    position: relative;
    top: 1px;
}